.card-streamer-container {
    min-width: 350px;
    max-width: 350px;
    padding: 10px;
    margin: 20px 10px;
    background-color: #ececec;
    color: #000;
}

.info-streamer-container {
    display: flex;
}

.info-img {
    width: 50%;
}

.info-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 10px;
    align-items: center;
    gap: 20px;
}

.info-container-name {
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #000;
}

.info-partner{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.info-partner i:nth-child(1), .info-partner p:nth-child(2){
    color: #575757;
    
}

.info-name {
    width: 100%;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Fugaz One', cursive;
}

.info-name a {
    color: #000;
    width: 100%;
    text-align: center;
    text-decoration: none;
    word-wrap: break-word;
}

.info-container-viewers {
    width: 100%;
    display: flex;
    justify-content: center;
}

.info-viewers div:nth-child(1), .info-viewers div:nth-child(2){
    font-size: 15px;
    text-align: center;
    font-weight: 700;
}

.info-streamer-description {
    padding: 10px 0;
    font-size: 16px;
    font-family: sans-serif;
}